html {
  box-sizing: border-box;
}

*, *::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  font-family: "sans-serif";
  position: relative;
}

header {
  width: 100%;
  height: 15vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid 1px #f7e226;
  z-index: 100;
  position: relative;
}
header h1 {
  color: #f7e226;
  width: 30%;
  margin-left: 50px;
  font-size: 3.5rem;
  font-family: "Do Hyeon", sans-serif;
}
header .menu {
  width: 50%;
  display: flex;
}
header .menu ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header .menu li {
  list-style: none;
  margin-right: 20px;
  padding: 10px;
}
header .menu li a {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Do Hyeon", sans-serif;
  text-decoration: none;
  transition: 0.5s ease;
}
header .menu li a:hover {
  opacity: 0.4;
}
header .btn-menu {
  background-color: #f7e226;
  color: black;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  right: 2%;
  z-index: 999;
  bottom: 5%;
}
header .hidden {
  display: none;
}

#title {
  color: #0088ff;
  font-family: "Do Hyeon", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

main {
  max-width: 85%;
}

.grid-collection {
  max-width: 85%;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
}
.grid-collection .card-gif {
  margin: 0 auto;
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
}
.grid-collection .card-gif img {
  display: block;
  margin: 5px auto;
  width: 260px;
  height: 260px;
  object-fit: cover;
}
.grid-collection .card-gif h3 {
  color: #f7e226;
  font-size: 1rem;
  font-family: "Do Hyeon", sans-serif;
  margin: 0 auto;
  text-align: center;
}
.grid-collection .card-meme {
  width: 280px;
  cursor: pointer;
  margin: 20px;
}
.grid-collection .card-meme h3 {
  text-align: center;
  color: #ff07c9;
  font-family: "Do Hyeon", sans-serif;
}
.grid-collection .card-meme img {
  width: 280px;
  height: auto;
}

.loader {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: 4rem auto;
}

.hidden {
  display: none;
}

.no-active {
  transform: translateY(-100%);
  transition: 0.8s ease;
}

.form-search {
  width: 90vw;
  height: 50px;
  background-color: #f7e226;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: 0.8s ease;
  position: relative;
  z-index: 0;
}
.form-search #search {
  width: 95%;
  height: 80%;
  border-radius: 1rem;
  background-color: black;
  opacity: 0.85;
  border: none;
  color: #f7e226;
  font-size: 1.8rem;
  padding-left: 20px;
}
.form-search #search::placeholder {
  color: #f7e226;
  font-size: 1.8rem;
  padding-left: 20px;
}
.form-search .btn-search {
  height: 80%;
  width: 3rem;
  border: none;
  background-color: black;
  opacity: 0.85;
  border-radius: 1rem;
}
.form-search .btn-search i {
  color: #f7e226;
}

.window-create-meme {
  width: 80vw;
  height: 80vh;
  background-color: black;
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 999;
  border: solid 1px #ff07c9;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.window-create-meme .card-meme {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  cursor: auto;
}
.window-create-meme .card-meme h3 {
  color: #ff07c9;
  font-family: "Do Hyeon", sans-serif;
  text-align: center;
}
.window-create-meme .card-meme img {
  height: 75%;
  width: auto;
}
.window-create-meme form {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.window-create-meme form input {
  display: block;
  margin-bottom: 20px;
  border: none;
  background-color: #ff07c9;
  color: black;
  font-weight: bold;
  font-family: "Do Hyeon", sans-serif;
  padding: 5px;
  outline: none;
  width: 85%;
}
.window-create-meme form input::placeholder {
  color: black;
}
.window-create-meme form label {
  font-size: 17px;
  font-weight: bold;
}
.window-create-meme form button {
  margin-right: 40px;
  background-color: #ff07c9;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-family: "Do Hyeon", sans-serif;
}
.window-create-meme form .btn-create {
  width: 5rem;
  height: 2rem;
  font-size: 17px;
}
.window-create-meme form .btn-refresh {
  width: 3rem;
  height: 2rem;
}
.window-create-meme form .btn-refresh i {
  font-size: 20px;
}
.window-create-meme .close {
  width: 5%;
}
.window-create-meme .close i {
  color: #ff07c9;
  font-size: 25px;
  position: absolute;
  right: 1.5%;
  top: 2%;
  cursor: pointer;
}

/*Media queries*/
@media screen and (max-width: 1400px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15vh;
  }
  header h1 {
    margin: 10px;
    font-family: 2.7rem;
    height: 60%;
  }
  header .menu {
    width: 100%;
    height: 40%;
  }
  header .menu li {
    height: 100%;
    padding-bottom: 10px;
  }
  header .menu li a {
    font-size: 0.9rem;
  }

  .window-create-meme {
    width: 88vw;
    height: 60vh;
  }
  .window-create-meme .card-meme {
    width: 70%;
    height: 100%;
  }
  .window-create-meme form {
    width: 30%;
    height: 100%;
  }
  .window-create-meme form input {
    width: 85%;
  }
}
@media screen and (max-width: 770px) {
  header {
    position: fixed;
    display: block;
    height: 10vh;
  }
  header h1 {
    margin: 0 auto;
    text-align: center;
    font-family: 2.7rem;
    height: 100%;
    width: 80%;
    padding-top: 10px;
  }
  header .menu {
    width: 100%;
    height: 90vh;
    position: fixed;
    background-color: black;
    transform: translateY(-200%);
    transition: all 0.7s ease-out;
  }
  header .menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  header .menu li {
    height: 100%;
    padding-bottom: 10px;
    border-top: solid 2px #f7e226;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .menu li a {
    font-size: 1.2rem;
  }
  header .menu.active {
    transform: translateY(0%);
  }
  header .hidden {
    display: none;
  }

  .form-search {
    top: 10vh;
  }

  #title {
    margin-top: calc(10vh + 50px);
    margin-bottom: 20px;
  }

  .window-create-meme {
    width: 88vw;
    height: 60vh;
  }
  .window-create-meme .card-meme {
    width: 60%;
    height: 100%;
  }
  .window-create-meme form {
    width: 40%;
    height: 100%;
  }
}
@media screen and (max-width: 540px) {
  .window-create-meme form button {
    display: block;
    margin-top: 40px;
  }
}
@media screen and (max-width: 420px) {
  header h1 {
    font-size: 2.2rem;
  }

  .form-search {
    height: 35px;
  }

  #title {
    margin-top: calc(10vh + 35px);
    margin-bottom: 20px;
  }

  .window-create-meme {
    height: 85vh;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .window-create-meme .card-meme {
    width: 95%;
    height: 70%;
  }
  .window-create-meme form {
    height: 30%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .window-create-meme form input {
    width: 95%;
  }
  .window-create-meme form button {
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 350px) {
  .window-create-meme {
    left: 2%;
  }
  .window-create-meme form input {
    margin: 0;
  }
  .window-create-meme form button {
    width: 2rem;
    height: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
